body {
  font-family: "Futura";
  margin: auto;
  max-width: 38rem;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 2rem;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.onElement {
  cursor: pointer;
}